.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

*{
	font-family: 'Patrick Hand SC', cursive;
}

body{
	background-image: url("Bg.jpg");
	background-repeat: no-repeat; 
	font-family: cursive;
	color: white;
	font-size: 20px;
	font-family: 'Patrick Hand SC', cursive;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
  /*Nav Ends*/
  
  .row::after {
	content: "";
	clear: both;
	display: table;
  }
  .img_div{
	float: left;
	width: 50%;
	padding: 5px;
  }
  .menu_div{
	float: right;
	width: 50%;
	padding: 160px;
	color: honeydew;
	font-size: 25px;
	font-family: cursive;
  }
  #menu_list{
	background-color:#f5c71a;
	color:black; 
	width: 200px;
	border: none;
  }

  .newRow::after {
	content: "";
	clear: both;
	display: table;
}

  .block1{
	float: left;
	width: 20%;
	padding: 5px;
  }
  .block2, .block3{
	float: left;
	width: 80%;
	padding: 5px;
	color: honeydew;
	font-size: 25px;
	font-family: cursive;
  }

  #add_toppings{
	 padding-left:30px; 
	width:200px;
	height:180px;
	border: none;
	background-color:#e2062c;
	color:black;
	font-size: 15px;
	font-family: cursive;
  }

  #add_item, #rate_item {
	font-family: cursive;
	font-size: 15px;
	line-height: 20px;
	width: 80%;
	height: 50px;
	color: #fff;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(223, 205, 205);
    outline: none;
 }

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
	opacity: 1;
	color: white;
 }

ol.menulist>li
{
	padding-bottom:20px;
}

.cards {
	display: flex;
	margin-right: 10px;
	flex-wrap: wrap;
	justify-content: space-between;
 }
 
 div.card {
    flex: 0 0 30%;
	box-sizing: border-box;
	color:black;
	margin: 0.5rem .18em;
	background-color: antiquewhite;
	align-items: center;
	font-size: medium;
	display: inline-block;
	border-radius: 25px;
	box-shadow: 4px 5px rgb(255, 145, 0);
}
.card img{
	width:100px;
	height: 80px;
}

.rate {
	color : orange;
	display: inline-block;
}

.cart {
	width: 25px;
}

#cL, #CP {
	display: inline-block;
}

.increase {
	height : 25px;
	background-color: transparent;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
	align-self: center;
	border-bottom: none;
	border-color:rgb(255, 145, 0);
}

.p {
	display: inline-block;
	font-size: 20px;
}

.align {
	display: inline-block;
}
